@import "../abstracts/variables";
@import "../abstracts/mixins";

.header {
  background-image: url("../IMG/header-background.jpg");
  padding-bottom: 416px;
  position: relative;
  @include backgroundImageSet;
  &__navigation-background {
    background: #27262a;
    padding-top: 34px;
    padding-bottom: 34px;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    position: relative;
    margin-bottom: 50px;
  }
  &__logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    @include pointer;
  }
  &__logo-text {
    font-family: "Lato", sans-serif;
  }
  &__buynow-btn {
    border: none;
    background: $btnAndTitleColor;
    border-radius: 40px;
    padding: 10px 25px;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    @include pointer;
  }
  &__burger-icon {
    width: 26px;
    height: 26px;
    @include pointer;
  }
  &__nav-container--mobile {
    position: relative;
  }
  &__navigation-menu--mobile {
    position: absolute;
    top: 69px;
    left: -1072%;
    // transform: translate(-50%, 0);
  }
  &__navigation-item {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 300px;
    background: #333333;
    border: 1px solid #848e97;
    position: relative;
    user-select: none;
  }
  &__navigation-link {
    text-decoration: none;
    font-size: 26px;
    color: #ffffff;
    padding-left: 35px;
    &:active {
      color: $btnAndTitleColor;
      &::before {
        content: "";
        border-left: 8px solid $btnAndTitleColor;
        width: 8px;
        height: 53px;
        position: absolute;
        left: 0px;
        top: 11px;
      }
    }
  }
  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $btnAndTitleColor;
    text-align: center;
    margin-bottom: 15px;
  }
  &__version {
    font-size: 14px;
    text-transform: uppercase;
    color: #848e97;
    text-align: center;
  }
  &__subscription-container {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  &__btn-download {
    background: #8d81ac;
    border-radius: 40px;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    padding: 13px 29px;
    border: none;
    width: 290px;
    margin-bottom: 13px;
    cursor: pointer;
    border: 2px solid #8d81ac;
  }
  &__subscription-info {
    font-size: 14px;
    line-height: 14px;
    color: #848e97;
    text-align: center;
  }
  &__logo-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    color: $btnAndTitleColor;
    margin-left: 17px;
    @include display(none);
  }
  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__nav-container--tablet {
    @include display(none);
  }
}
.btn-pc {
  @include display(none);
}

@media (min-width: $min-tablet-width) {
  .header {
    &__navigation-background {
      padding-bottom: 18px;
    }
    &__logo-wrapper {
      margin-bottom: 30px;
    }
    &__logo-text {
      @include display(block);
    }
    &__nav-container--mobile {
      @include display(none);
    }
    &__nav-container--tablet {
      @include display(block);
    }
    &__navigation-list {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 30px;
      white-space: nowrap;
    }
    &__navigation-item {
      width: auto;
      border: none;
      background: none;
      padding: 0;
    }
    &__navigation-link {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: $btnAndTitleColor;
      padding: 0;
      &:active {
        color: $btnAndTitleColor;
        &::before {
          border-left: none;
        }
      }
    }
    &__buynow-btn {
      padding: 11px 40px;
      font-size: 16px;
    }
    &__btn-download {
      width: 390px;
      font-size: 21px;
      line-height: 23px;
    }
    &__title {
      font-size: 72px;
    }
    &__subtitle {
      font-size: 24px;
      margin-bottom: 19px;
    }
  }
}

@media (min-width: $min-pc-width) {
  .btn-pc {
    @include display(block);
    height: 37px;
  }
  .btn-mobile {
    @include display(none);
  }
  .header {
    &__navigation-background {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      background-color: inherit;
      padding-bottom: 0;
      margin-bottom: 127px;
    }
    &__nav-container--tablet {
      display: flex;
      gap: 48px;
      justify-content: center;
      align-items: center;
    }
    &__title {
      font-size: 82px;
      margin-bottom: 40px;
    }
    &__subtitle {
      font-size: 30px;
      margin-bottom: 19px;
    }
    &__version {
      font-size: 16px;
    }
    &__navigation-link:hover {
      color: $hoverColor;
    }
    &__buynow-btn:hover {
      background-color: $hoverColor;
      color: $btnAndTitleColor;
    }
    &__btn-download:hover {
      background-color: $hoverColor;
      color: $btnAndTitleColor;
      border: 2px solid $btnAndTitleColor;
    }
    &__logo-container:hover {
      .header__logo {
        @include display(none);
      }
      .header__logo-hover {
        @include display(block);
        width: 43px;
        height: 41px;
      }
      & > p {
        color: $hoverColor;
      }
    }
  }
}
