@import "./base/reset";
@import "./components/header";
@import "./components/aboutFork";
@import "./components/hereIsWhatYouGet";
@import "./components/revolutionaryEditor";
@import "./components/subscriptionPricing";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.display-none {
  display: none;
}
